---
interface Props {
  as?: "button" | "a";
  variant?: "primary" | "secondary";
}

const { as = "button", variant = "primary", ...props } = Astro.props as Props;
const buttonClass =
  variant === "primary" ? "button-primary" : "button-secondary";
---

{
  as === "a" ? (
    <a class={buttonClass} {...props}>
      <slot />
    </a>
  ) : (
    <button class={buttonClass} {...props}>
      <slot />
    </button>
  )
}
